.contactLinks {
  align-items: center;
  justify-content: center;  
}

.contactLinks img { 
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.normalIcons {
  min-height: 40px;
  max-height: 40px;
}

.whitenIcons {
  filter: invert(99%) sepia(0%) saturate(5629%) hue-rotate(267deg) brightness(98%) contrast(106%);
  min-height: 35px;
  max-height: 35px;
}

.contactLinks a { 
  position: relative;
}

.contactLinks a:hover img { 
  transform: scale(1.1);
  transition: all .3s;
}

/*--TOOLTIP SETTINGS--*/
.iconToolTip {
  visibility: hidden;
  width: 120px;
  color: #ebebeb;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 220%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
}

.contactLinks a:hover .iconToolTip {
  visibility: visible;
}

