footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  max-width: 1200px;
}

.contactLinks {
  align-items: center;
  justify-content: center;
  filter: invert(29%) sepia(40%) saturate(662%) hue-rotate(154deg) brightness(70%) contrast(92%);
}

.contactLinks img { 
  min-height: 50px;
  max-height: 50px;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  opacity: 0.8;
}

.contactLinks img:hover { 
  transform: scale(1.1);
  transition: all .5s;
}
