footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  max-width: 1200px;
}

.contactLinks {
  align-items: center;
  justify-content: center;
  filter: invert(33%) sepia(23%) saturate(836%) hue-rotate(154deg) brightness(92%) contrast(88%);
}

.contactLinks img { 
  min-height: 50px;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  opacity: 0.8;
}

.contactLinks img:hover { 
  transform: scale(1.1);
  transition: all .5s;
}
