@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

main {
	margin: 0 auto;
  padding: 30px 30px 120px 30px;
}
:root {
  --primary: #8c54ff;
  
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

  --ajBackground: #e7e7e7;
  --secondary: #636363;
  --ajSecondaryLight: #999999;
  --pText-color: #3d3e4e;
  --pText-color-81t: #3d3e4ed0;
  --pText-color-50t: #3d3e4e80;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: auto;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--ajBackground);
  color: var(--pText-color);
  font-family: 'Roboto Slab', serif;
  max-width: 60%;
  text-align: justify;
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
}


a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

header {
  background: var(--ajBackground);
  min-height: 100px;
  align-items: center;
}

header a {
  color: var(--pText-color);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--pText-color-50t);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 600px;
}

textarea {
	width: 600px;
	height: 120px;
	border: 1px solid var(--pText-color-50t);;
	padding: 5px;
  outline: none;
  border-radius: 3px;
}

input:focus, textarea:focus {
  border: 1px solid var(--pText-color-81t);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

#contact-form {
  text-align: left;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.px-5 {
  padding-right: var(--spacing-five);
  padding-left: var(--spacing-five);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

button {
	background: var(--pText-color);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}
/*Website title*/
.webTitle {
  align-items: center;
  display: grid;
}

.textLogo {
  z-index: 99;
  grid-row: 1;
  grid-column: 1;
  margin: 3px;
  font-size: 36px;
  font-weight: 900;
}

.titleSquare {
  border: solid 2px var( --pText-color);
  margin: 0;
  height: 72px;
  width: 72px;
  grid-row: 1;
  grid-column: 1;
}

.webTitle:hover .titleSquare {
  transform: rotateZ(90deg);
  transition: .3s all;
  cursor: pointer;
}

/*Navigation bar*/
.navActive {
  color: var(--pText-color-50t);
}

nav li {
  list-style: none;
  cursor: pointer;
}

nav a:hover {
  text-decoration: none;
  border-bottom: solid 3px var(--pText-color-81t);
}

.bottom-margin {
  border-bottom: solid 2px var(--ajSecondaryLight);
}

/*Page titles general settings*/

.title-spaceSetter {
  padding: 15px 0;
  font-weight: 600;
}

.bottomBorder-underline {
  display: inline-block;
  border-bottom: solid 2px var(--ajSecondaryLight);
  padding: 5px 0;
}

/*Home page styling*/
.intro-section {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.aboutMeProfPic {
  min-height: 200px;
  min-width: 200px;
  max-height: 230px;
  border-radius: 50%;
}

/* Portfolio page styling */
.img-container {
  padding: 5px 0;
}

.img-preview {
  display: flex;
  position: relative;
  cursor: pointer;
}

.img-preview img {
  transition: all .5s;
  width: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 0.4;
  max-height: 300px;
  border: solid 2px var(--pText-color);
}

.img-preview img:hover {
  transition: all .5s;
  opacity: 0.8;
}

.img-text {
  position: absolute;
  bottom: 30px;
  padding: 5px 10px 5px 20px;
  background: var(--secondary);
  color: var(--ajBackground);
  align-items: center;
}

.img-container p {
  font-size: 14px;
  margin: 5px 0;
}

.projectTitle p {
  margin-left: 30px;
}

.projectTitle {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.projectTitle a {
  margin: 5px;
  color: var(--secondary);
  font-size: 14px;
}

.projectTitle a:hover {
  color: var(--pText-color);
  border-bottom: solid 2px var(--ajSecondaryLight);
  /*transition: 1s all;*/
}

/* Contact styling */
.error-text {
  color: var(--error);
}

/*Resume styling*/
.experience li, .skills p {
  color: var(--pText-color-81t);
  font-weight: 500;
}

.education div {
  padding: 10px 0;
}

.downloadResume {
  font-style: none;
  color: var(--pText-color);
}

.downloadResume:hover {
  color: var(--pText-color-81t);
  border-bottom: solid 2px var(--ajSecondaryLight);
  /*transition: 1s all;*/
}

/*Footer styling*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px;
}

.contactLinks {
  align-items: center;
  justify-content: center;
}

.contactLinks img { 
  min-height: 50px;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  opacity: 0.8;
}

.contactLinks img:hover { 
  transform: scale(1.1);
  transition: all .5s;
}

@media screen and (max-width: 1650px) {
  body {
    max-width: 70%;
  }
}

@media screen and (max-width: 1300px) {
  body {
    max-width: 80%;
  }
}

@media screen and (max-width: 980px) {
  body {
    max-width: 90%;
  }

  h2 {
    font-size: 1.75rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  h5 {
    font-size: 1rem;
  }
  
  h6 {
    font-size: 0.75rem;
  }

  main {
    padding: 20px 15px 120px 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 95%;
  }

  header, .intro-section {
    flex-direction: column;
  }

  .intro-section h2 {
    padding: 0;
  }

  nav ul {
    justify-content: space-between;
  }

  main {
    padding: 0 15px 120px 15px;
  }

  input, textarea, form {
    width: 100%;
    margin: 0;
  }

  .projectDesc {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  main {
    padding: 0 15px 120px 15px;
  }

  .projectTitle p {
    margin-left: 10px;
  }
}