@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary: #F6F7F8;
  --secondary: #FF1B54;
}

body {
  background: #2b2b2c;
  font-family: 'Raleway', sans-serif;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 98vh;
}

main {
  margin-bottom: 30px;
}

/*--GENERAL FLEXBOX SETTINGS--*/
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-row {
  flex-direction: row;
}

.flex-col-direction {
  flex-direction: column;
}

/*--MAIN CONTAINER SETTINGS--*/
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*--Home Page CSS--*/
.headline {
  font-size: 60px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}

.headline p {
  font-weight: 600;
  margin: 20px 0;
  padding: 0 5px;
}

/*--TEXT APPEAR ANIMATION--*/
@keyframes appearText {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*--Text Gradient Setup--*/
.myName {
  padding: 0 3px;
  color: var(--secondary);
  animation-name: appearText;
  animation-duration: 2s;
}

.gradientHighlight {
  /*background-image: linear-gradient(60deg, var(--primary), #ffc3c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  */
  animation-name: appearText;
  animation-duration: 2s;
}

/*--ABOUT ME SECTION--*/
.aboutMeSection {
  margin: 40px 30px 0 30px;
  font-size: 24px;
  text-align: justify;
}

.aboutMeSection h3, .projectSection h3 {
  font-weight: 600;
  color: var(--secondary);
  font-size: 32px;
  text-align: center;
}

.aboutMeSection p {
  margin: 0;
  line-height: 200%;
  animation-name: appearText;
  animation-duration: 2s;
}

/*--ABOUT ME SKILLS SECTION--*/

.skillImages {
  justify-content: center;
  animation-name: appearText;
  animation-duration: 4s;
}

.eachSkillImage img {
  min-height: 100px;
  max-height: 100px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

/*--GENERAL FOOTER SECTION--*/
.contactSection, .copyrightStatement{
  position: absolute;
  bottom: 0;
  width: 85%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;  
  font-size: 12px;
}

.contactSection {
  min-height: 50px;
  max-height: 50px;
  margin: 0 0 25px 0;
}

.copyrightStatement {
  font-size: 12px;
  margin: 5px;
  min-height: 2vh;
}
.copyrightStatement span {
  color: var(--secondary);
  margin: 0 5px;
}

/*--Contact Section--*/

@keyframes upAndDown {
  0% {transform: translateY(-0.5px) translateX(-0.5px);}
  25% {transform: translateY(0px) translateX(0px);}
  50% {transform: translateY(0.5px) translateX(0.5px);}
  75% {transform: translateY(0px) translateX(0px);}
  100% {transform: translateY(-0.5px) translateX(-0.5px);}
}

.contactSectionLeft, .contactSectionRight {
  flex: 0 45%;
  font-size: 18px;
  min-height: 50vh;
  animation-name: appearText;
  animation-duration: 2s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contactSectionLeft {
  align-items: center;
}
.profilePic img {
  min-height: 300px;
  max-height: 300px;
  border-radius: 50%;
}

.contactDetails {
  display: flex;
  align-items: center;
}

.contactDetails img {
  margin: 0 15px 0 0;
  animation-name: upAndDown;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

.contactStatement {
  text-align: center;
  font-size: 22px;
}

.aboutMeSection a {
  text-decoration: none;
  color: var(--primary);
}

.myResume {
  color: var(--secondary);
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .contactSection, .copyrightStatement{
    width: 90%;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 100%;
  }
  .headline {
    font-size: 50px;
  }
  .contactSection, .copyrightStatement{
    width: 100%;
  }

  .aboutMeSection {
    margin: 30px 30px 0 30px;
    font-size: 22px;
  }
  
  .aboutMeSection h3, .projectSection h3 {
    font-size: 30px;
    margin: 28px 0;
  }

  .eachSkillImage img {
    min-height: 80px;
    max-height: 80px;
  }

  .contactStatement {
    font-size: 20px;
  }
  
  .contactSectionLeft, .contactSectionRight {
    flex: 0 49%;
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) {
  .headline {
    font-size: 40px;
  }

  .aboutMeSection {
    margin: 20px 20px 0 20px;
    font-size: 20px;
  }

  .aboutMeSection h3, .projectSection h3 {
    font-size: 28px;
    margin: 24px 0;
  }

  .eachSkillImage img {
    min-height: 70px;
    max-height: 70px;
  }

  .contactStatement {
    font-size: 18px;
  }
  
  .contactSectionLeft, .contactSectionRight {
    flex: 1 100%;
    min-height: 30vh;
    align-items: center;
  }
}

@media screen and (max-width: 575px) {  
  .headline {
    font-size: 30px;
  }

  .aboutMeSection {
    margin: 10px 20px 0 20px;
    font-size: 18px;
  }

  .aboutMeSection h3, .projectSection h3 {
    font-size: 26px;
    margin: 20px 0;
  }
  .eachSkillImage img {
    min-height: 60px;
    max-height: 60px;
  }

  .contactStatement {
    font-size: 16px;
  }
  
  .contactSectionLeft, .contactSectionRight {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {  
  .headline {
    font-size: 25px;
  }

  .aboutMeSection {
    margin: 10px 15px 0 15px;
    font-size: 16px;
  }

  .aboutMeSection h3, .projectSection h3 {
    font-size: 24px;
    margin: 16px 0;
  }
  .eachSkillImage img {
    min-height: 50px;
    max-height: 50px;
  }

  .copyrightStatement {
    font-size: 12px;
  }

}

@media screen and (max-width: 380px) {  
  .aboutMeSection {
    margin: 10px 10px 0 10px;
    font-size: 14px;
  }

  .aboutMeSection h3, .projectSection h3 {
    font-size: 22px;
    margin: 12px 0;
  }

  .headline {
    font-size: 20px;
  }

  .eachSkillImage img {
    min-height: 40px;
    max-height: 40px;
  }

  .contactStatement {
    font-size: 14px;
  }
  
  .contactSectionLeft, .contactSectionRight {
    font-size: 12px;
  }

  .copyrightStatement {
    font-size: 10px;
  }
}