header {
  align-items: center;
}

/*--LOGO SETTINGS--*/
.siteLogo {
  height: 60px;
  width: 60px;
  margin: 10px 30px;
}

.siteLogo img {
  max-width:100%;
  max-height:100%;
}

/*--NAV BUTTON SETTINGS--*/
nav li {
  list-style: none;
  cursor: pointer;
  margin: 0 25px;
}

nav a {
  text-decoration: none;
  color: var(--primary);
  font-size: 28px;
  position: relative;
}

/*--UNDERLINE STYLING--*/
nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -8px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: var(--secondary);
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0%;
}

/*--UNDERLINE HOVER EFFECT--*/
a:hover:after { 
  width: 120%; 
  left: -10%; 
}

/*--ACTIVE NAV BAR EFFECT--*/
.navActive { 
  color: var(--secondary);
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 980px) {
  .siteLogo {
    height: 50px;
    width: 50px;
    margin: 10px 25px;
  }
  nav a {
    font-size: 26px;
  }
}

@media screen and (max-width: 720px) {
  .siteLogo {
    height: 45px;
    width: 45px;
    margin: 10px 20px;
  }
  nav a {
    font-size: 24px;
  }
  nav li {
    margin: 0 20px;
  }
}

@media screen and (max-width: 575px) {  
  .siteLogo {
    height: 40px;
    width: 40px;
    margin: 10px 15px;
  }
  nav a {
    font-size: 22px;
  }
  nav li {
    margin: 0 15px;
  }
}

@media screen and (max-width: 480px) {  
  .siteLogo {
    height: 35px;
    width: 35px;
    margin: 10px 10px;
  }
  nav a {
    font-size: 20px;
  }
  nav li {
    margin: 0 10px;
  }
}

@media screen and (max-width: 380px) {  
  .siteLogo {
    height: 30px;
    width: 30px;
  }
  nav a {
    font-size: 18px;
  }
  nav li {
    margin: 0 5px;
  }
}