header {
  align-items: center;
}

.siteLogo {
  height: 60px;
  width: 60px;
  margin: 10px 30px;
}

.siteLogo img {
  max-width:100%;
  max-height:100%;
}

nav li {
  list-style: none;
  cursor: pointer;
  margin: 0 25px;
}

nav a {
  text-decoration: none;
  color: var(--primary);
  font-size: 28px;

  position: relative;
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -8px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #CC8B86;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0%;
}

a:hover:after { 
  width: 120%; 
  left: -10%; 
}

.navActive { 
  color: #9db9b9;
}

.navActive:after { 
  left: -10%; 
  width: 120%;
}